/*box model fix*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 10%;

}

/* ############ Main Navigation ############ */
.navWrap-main {
    /* display: grid;
    grid-template-columns: .5fr 2fr;
    justify-items: end;
    grid-gap: 10px;
    height: auto;
    padding: 2em;
    background: #3cb6d3; */
    display: flex;
    background: #212f54;
    align-items: center;
    justify-content: space-around;

}

.main-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

}

.main-nav li {
    position: relative;
    margin-right: 30px;

}

.main-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1em;
}

.main-nav li a:hover {
    color: #ce2d2d;
    background: #e0e5eb;
    padding: 1em;
    border: 1px solid #3cb6d3;

}

/* Style for the dropdown menu */

.drpmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #212f54;
    border: 1px solid #3cb6d3;
    z-index: 1;
}

.drpmenu a {
    float: none;
    display: block;

}

.drpmenu a:hover {

    color: #212f54;
}


.drpbtn:focus+.drpmenu {
    display: block;
}

/* #########  Footer ######### */
footer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    height: auto;
    padding: 2em;
    background: rgb(158, 163, 199);
    line-height: 2.5em;
    font-family: 'Roboto', sans-serif;

}

.contactInfo ul {

    list-style-type: none;
}

.contactInfo li a {
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.socialIcons a {
    color: #932626;
    margin-right: 10px;
}

.banner img {
    width: 100%;
}

.hero-banner {
    position: relative;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;

}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #212f54;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.25rem;
}

/*-----------Index Content------------------------------*/
.main-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 5em;
    line-height: 2;
    display: grid;
}


.introductory-content h2 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #212f54;
    margin-top: 10px;
}

/* Style for the article container */
.article-container {
    display: flex;
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    align-items: center;
    flex-wrap: nowrap;
}

/* Style for the image */
.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Style for the content */
.content {
    flex: 1;
    padding: 1em;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #212f54;
}

/*-----------Login---------------------------*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3cb6d3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}