/*box model fix*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    width: 10%;

}

/* ############ Main Navigation ############ */
.navWrap-main {
    /* display: grid;
    grid-template-columns: .5fr 2fr;
    justify-items: end;
    grid-gap: 10px;
    height: auto;
    padding: 2em;
    background: #3cb6d3; */
    display: flex;
    background: #212f54;
    align-items: center;
    justify-content: space-around;

}

.main-nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;

}

.main-nav li {
    position: relative;
    margin-right: 30px;

}

.main-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1em;
    font-size: 1.1em;
}

.main-nav li a:hover {
    color: #ce2d2d;
    background: #e0e5eb;
    padding: 1em;
    border: 1px solid #3cb6d3;

}

/* Style for the dropdown menu */

.drpmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #212f54;
    border: 1px solid #3cb6d3;
    z-index: 1;
}

.drpmenu a {
    /* float: none; */
    display: block;

}

.drpmenu a:hover {

    color: #212f54;
}

li.dropdown:hover .drpmenu {
    display: block;
}

/* .drpbtn:focus+.drpmenu {
    display: block;
} */

/* Display the submenu when hovering over the parent element */
.drpbtn:hover+.drpmenu {
    display: block;
}

/* Hide the submenu when clicking outside the menu */
body:not(:hover) .drpmenu {
    display: none;
}

/* #########  Footer ######### */
footer {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    grid-gap: 10px;
    height: auto;
    padding: 2em;
    background: rgb(158, 163, 199);
    line-height: 2.5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: #212f54;
}

.contactInfo ul {

    list-style-type: none;
}

.contactInfo li a {
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.socialIcons a {
    color: #932626;
    margin-right: 10px;
}

.banner img {
    width: 100%;
}

.hero-banner {
    position: relative;
    width: 100%;
}

.hero-image {
    width: 100%;
    height: auto;

}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #212f54;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1.25rem;
}

/*-----------Index Content------------------------------*/
.main-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 5em;
    line-height: 2;
    display: grid;
}


.introductory-content h2 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    color: #212f54;
    margin-top: 10px;
}

/* Style for the article container */
.article-container {
    display: flex;
    margin-top: 30px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    align-items: center;
    flex-wrap: nowrap;
}

/* Style for the image */
.image {
    flex: 1;
    padding: 10px;
}

.image img {
    max-width: 100%;
    height: auto;
}

/* Style for the content */
.content {
    flex: 1;
    padding: 1em;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #212f54;
}

/*-----------Login---------------------------*/


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #212f54;
    font-size: 1.5rem;
}

label {
    display: block;
    margin: 10px 0;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3cb6d3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/*-----------Signup---------------------------*/

.signup-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*-----------Services---------------------------*/
/*-----------Rooms----------------*/
.rooms-container h1 {

    margin-top: 20px;
    color: #212f54;
    font-size: 2rem;
    text-align: center;

}

.content .details-button {
    display: inline-block;
    padding: .5em 1em;
    background-color: #3cb6d3;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.content .details-button:hover {
    background-color: #1e7b8d;
}


/*----------Specfic room details------- */


.favorite-button {
    display: inline-block;
    padding: .5em 1em;
    background-color: #3cb6d3;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.favorite-button:hover {
    background-color: #1e7b8d;
}

.content h2 {

    font-size: 1.2rem;
}

.content ul li {

    list-style: none;
    line-height: 2;
}

/*----------Add favorite list------- */

.room-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.favorite-container {
    background: #fff;
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.514);
    text-align: center;
}

.favorite-container img {
    max-width: 100%;
}

/*----------Add New Property------- */

.form-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.form-container h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #212f54;
}

.form-group {
    margin-bottom: 15px;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/*----------View Bookings------- */

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.table-container h1 {

    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #212f54;
}

.error-message {
    color: red;
}

.popup {

    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212f54;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 5px;
    width: 300px;
}

.popup-content {
    padding: 20px;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Styling for the success message inside the popup */
#success-message-text {
    color: white;
}